#==============================================================================#
#                                                                              #
# SONAR (Synthesis of Noise Analysis for Rotorcrafts)                          #
# NARC (Noise Analysis for Rotorcrafts Code)                                   #
# Version 0.1.0                                                                #
# ADOLAB (Aeroacoustics & Design Optimization Lab.),                           #
# Hanseo University, Korea.                                                    #
# Main contributors                                                            #
# Dr. Y. Jo (2023-current)                                                     #
# Mr. S. Jeong (2023-current)                                                  #
#                                                                              #
#==============================================================================#
#
# ------------------------------- PROGRAM MODE --------------------------------#
MODE= default
#
# ----------- PARAMETERS, CONDITION DEFINITION FOR CALCUALTION  ---------------#
#
# -------------- TOGGLE OPTIONS FOR BROADBAND NOISE CALCULATION ---------------#
#
# TONAL NOISE ROUTINE
NOISE_TON = 1
# Default Option for loading noise: f1a
TON_OPTIONS = f1a
#TON_OPTIONS = lowson 
#
# BROADBADN NOISE ROUTINE
NOISE_BBN = 0
#
# FFT FREQUENCY BAND FILITER
FRQ_BAND = third
#
# THIS OPTION FOR BOUNDARY LAYER TRIPPING
BL_TRIP= 0
#
# THIS OPTION FOR AIRFOIL TRAILING EDGE ROUND CORRECTION.
TE_RCORR= 0
#
# THIS OPTION FOR LAMINAR BOUNDARY LAYER VORTEX SHEDDING NOISE
# THIS MODEL HAS NOW BUG, NEEDS THE FIXED ROUTINE.
NOISE_LAM= 0
#
# THIS OPTION FOR TURBULENCE BOUNDARY LAYER TRAILING EDGE NOISE
NOISE_TUR= 1
#
# THIS OPTION FOR TRAILING EDGE BLUNTNESS NOISE
NOISE_BLT= 1
#
# THIS OPTION FOR AIRFOIL TIP NOISE
# THIS MODEL HAS NOW BUG, NEEDS THE FIXED ROUTINE.
NOISE_TIP = 0
#
# THIS OPTION FOR BLADE WAKE INTERACTION NOISE
NOISE_BWI= 1
#
# ------------------------ BLADE CONDITION DEFINITION -------------------------#
#
# UNIT= SI
#
# THE SEGMENT OF BLADE FOR RADIAL DRECTION
#
# NUMBER OF TRAILING-EDGE SEGMENT FOR BBN
NSEG= 20
#
# NUMBER OF AERO-SEGMENT (LATTICE)
NI = 22
NJ = 21
#
#
# NUMBER OF SURFACE CHORDWISE(M) & SPANWISE(N) NODE WITH THICKNESS DATA
NODEM=43
NODEN=21
#
# NUMBER OF TIME STEP SEGMENT 
NSTEP= 72
#
# PERIOD OF ROTATION
NPERI= 20
#NPERI= 30
#
# NUMBER OF BLADE
NBLADE= 3
#
# BLADE RADIUS
R= 0.1250
#
# GEOMETRIC TIP ANGLE OF ATTACK 
AOA_TIP= 10.0
#
# TRAILING EDGE THICKNESS & BLUNTENESS ANGLE
TE_THICK= 0.0001
TE_BLT_ANG= 16
#
# ------------------------ FLIGHT CONDITION DEFINITION ------------------------#
#
# ROTATION SPEED DIRECTON: CCW IS POSSITIVE DIRECTION
RPM= 6000
#
# ADVANCE RATIO
AD= 0.0
#
# ----------------- MICROPHONE(OBSERVER) CONDITION DEFINITION -----------------#
#
# OBSERVER INDEX I, J
OM = 1
ON = 14
#
# ------------------------- FLOW CONDITION DEFINITION -------------------------#
#
# UNITS= SI
#
# DYNAMIC VISCOSITY 
MU= 0.00001789
#
# FLUID_DENSITY 
RHO= 1.225
#
# SPEED_OF_SOUND 
C0= 340.3
#
# ----------------------- NUMERICAL METHODS DEFINITION ------------------------#
#
# INTERPOLATION PROCESSOR FOR CALCULATION TONAL NOISE
INTERP_LVL= 4
#
NINTERP= 2048
#
# ------------------------ INPUT / OUTPUT INPORMATION -------------------------#
MIC_FILENAME= map.dat
DEFORM_FILENAME= blade_surface.dat
# MUST COPY DATAS FOR PERIOD(data=10rev., period=40, NEED COPY = 4 * data)
#LOADING_POINT_FILENAME= 2b_7000rpm_loading_point.dat
#
#
LOADING_FILENAME= 2b_6000rpm_loading_lattice.dat
BBN_CONDITION_FILENAME= 2b_6000rpm_bbn_conditions.dat
TURB_FILENAME= turb_2b.dat
